.fab:hover {
  color: orangered;
}

.submenu {
  position: absolute;
  background: rgb(228, 234, 246);
  border: 1px solid slategray;
  border-radius: 5px;
  visibility: hidden;
  transform-origin: 0% 0%;
  transform: rotateX(-90deg);
  transition: 0.5s linear;
}
.submenu li {
  position: relative;
}
.submenu li a {
  list-style: none;
  color: rgb(61, 55, 55);
  padding-right: 30px;
  font-size: 13px;
  text-decoration: none;
  line-height: 2;
}
.submenu li a:hover {
  color: orangered;
}

.submenu .submenu {
  list-style: none;
  position: absolute;
  left: 100%;
  top: -2px;
  transition: 0.5s linear;
}
nav li:hover > .submenu {
  transform: rotateX(0deg);
  visibility: visible;
  opacity: 1;
}
